body {
    display: grid;
    justify-items: center;
    background-color: rgb(253, 253, 253);
}

.welcome {
    background-color: rgb(171, 253, 160);
    border-radius: 5px;
    border: 1px dotted;
    border-color: rgb(1, 133, 133);
    width: 450px;
    text-align: center;
    box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.4)
}

.main_container {
    display: flex;
    gap: 45px;
    justify-items: center;
    margin: 100px;
}

.card1 {
   background-color: #f8e0e8;
   border-radius: 10px;
   text-align: center;
   width: 250px;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
   transition: transform 0.1s ease,box-shadow 0.3s ease;;
}

.card2{
   background-color: #a3dde7;
   border-radius: 10px;
   text-align: center;
   width: 250px;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
   transition: transform 0.1s ease,box-shadow 0.3s ease;;
}

.card3 {
   background-color: #8cf8b9;
   border-radius: 10px;
   text-align: center;
   width: 250px;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
   transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card3:hover {
   transform: translateY(-5px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .main_container{
       flex-direction: column;
        
    }

    .card1, .card2 ,.card3 {
        width: 100%;
        max-width: 100%;
    }
}


.h2 {
   margin: 0px;
    margin-bottom: 6px;
}
